<head>
            <title>Django Girls blog</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
           
<%= stylesheet_link_tag "css" %>

        </head>
  <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>




<h1>Hello, Blya!</h1>
<%= link_to 'My Blog', controller: 'articles' %>



